<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Fashion Jewellery </h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Fashion Jewellery App Hompeage
      </p>
    </div>
  </div>
</header>

<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <% Product.all.each do |product| %>
        <div class="col mb-5">
          <div class="card h-100">
            <% if product.discount.to_i > 0 %>
              <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Discount
              </div>
            <% end %>
            <% if product.image.present? %>
              <%= image_tag(product.image.url, class: "card-img-top product-image")%>
            <% else %>
              <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
            <% end %>
            <div class="card-body p-4">
              <div class="text-center">
                <h5 class="text-muted">
                  <%= product.title %>
                </h5>
                <span class="fw-bolder">
                  Rs - <%= product.price %>
                </span>
                <br>
              </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

