<header class="home-page-header py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Fashion Jewellery </h1>
      <p class="lead fw-normal text-white">
        Fashion jewellery is the accessory which you can wear with your outfit. Fashion jewellery are necklace set, earrings, handpanja, payal and nosering. These fashion jewellery are must if you are attending a wedding or a special event. It makes you look more beautiful and elegant.
      </p>
    </div>
  </div>
</header>
