<div class="row mtop30">
  <div class="col-sm-3">
    <div class="card bg-color">
      <div class="card-body ">
        <h2 class="home-card">Quality Product</h2>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card bg-color">
      <div class="card-body">
        <h2 class="home-card">Free Shipping</h2>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card bg-color">
      <div class="card-body">
        <h2 class="home-card">7-Days Return</h2>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card bg-color">
      <div class="card-body">
        <h2 class="home-card">24/7 Support</h2>
      </div>
    </div>
  </div>
</div>
